.news{
    color: #00DAB0;
}
.community{
 
color: black;
text-align: center;
}
.latest{
    color: gray;
    text-align: center;
}
.cards{
    text-align: center;
    margin-left: 100px;
    
}
.card{
    height: 230px;
    width: 370px;
    border: 1px solid  #00DAB0 ;
    border-radius: 20px;
    
}
.icons{
    margin-top: 20px;
}
.circle{
width: 70px;
height: 70px;
margin-left: 150px;
margin-top: 40px;
border-radius: 100%;

background: rgba(255, 255, 255, 0.31);
box-shadow: 0px 6px 26px rgba(0, 218, 176, 0.22);
}